<article class="media">
  <div class="media-content">
    <div class="content">
      <p>
        <strong><%= comment.commenter %></strong>
        <br>
        <%= comment.body %>
      </p>
    </div>
  </div>
  <div class="media-right">
    <%= link_to 'Delete', [comment.article, comment],
               method: :delete,
               data: { confirm: 'Are you sure?' },
               class: "delete" %>
  </div>
</article>

<p>
  
</p>

<p>
  <%= comment.body %>
</p>

<br>
